---
import Image from "astro/components/Image.astro";
---

<footer
  class="w-full bg-gradient-to-t from-black via-neutral-900 to-neutral-800 text-gray-400 px-6 py-10 mt-auto"
>
  <hr class="w-full border-gray-600 mb-6" />
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row items-center text-center justify-between gap-12 text-sm"
  >
    <div class="flex flex-col items-center space-y-3 min-w-[180px]">
      <Image
        src="/logo.avif"
        alt="Logo"
        height="64"
        width="64"
        class="h-16 w-auto opacity-90 mx-auto"
        loading="lazy"
      />
    </div>

    <div class="space-y-1">
      <p>Plaza del Escultor Ruiz Olmos, Córdoba</p>
      <p>903 847 509</p>
      <p>email@email.com</p>
    </div>

    <div class="space-y-1">
      <p>Lunes a viernes: 10:00 – 14:00 / 17:00 – 21:00</p>
      <p>Sábados: 10:00 – 14:00</p>
    </div>

    <div class="flex gap-4 items-center">
      <a
        href="/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:opacity-100 opacity-60 transition-opacity"
      >
        <Image
          src="/svg/whatsapp.svg"
          alt="WhatsApp"
          class="h-5 w-5"
          width="20"
          height="20"
          loading="lazy"
        />
      </a>
      <a
        href="/"
        target="_blank"
        class="hover:opacity-100 opacity-60 transition-opacity"
      >
        <Image
          src="/svg/instagram.svg"
          alt="Instagram"
          class="h-5 w-5"
          width="20"
          height="20"
          loading="lazy"
        />
      </a>
      <a
        href="/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:opacity-100 opacity-60 transition-opacity"
      >
        <Image
          src="/svg/tiktok.svg"
          alt="TikTok"
          width="20"
          height="20"
          class="h-5 w-5"
          loading="lazy"
        />
      </a>
    </div>
  </div>
</footer>
