---
import InicioSesionUsuario from "../components/auth/InicioSesionUsuario";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
</head>
<body class="bg-neutral-950 bg-cover bg-center bg-black/80 bg-blend-overlay animate-blurred-fade-in">
    <img 
        src="/bg.avif" 
        alt="Fondo" 
        loading="lazy" 
        width="100%"
        height="100%"
        class="absolute inset-0 opacity-20 object-cover w-full h-full -z-10" />
    <main>
        <InicioSesionUsuario client:idle server:defer/>
    </main>
</body>
</html>

